<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Max-Age" value="1000" />
                <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS, DELETE, PUT" />
                <add name="Access-Control-Allow-Headers" value="X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding" />
            </customHeaders>
        </httpProtocol>
		<rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="bosh" />
                    <action type="Rewrite" url="http://im.server.com:5280/bosh" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
		<httpErrors errorMode="DetailedLocalOnly" />
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
